.divstyle
{
	color: #fff;
	border-style : dashed;
	border-width : 10px;
	border-color: red;
	border-clip : padding-box;
	padding  : 100px; 
	margin: 50px;
	letter-spacing: 10px;
	word-spacing: 10px;
	text-decoration: ;

}
h1
{
	color: red;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: black;
}
.bgstyle
{
	/*background-color: pink; */
	background-image: url("../image/natural.jpg");
	background-size: 1600px;
	background-repeat: repeat;
	background-position: right;
	background-attachment: fixed;


}